{{! Template title }}
<h1 class="flex items-center justify-center my-4 text-lg font-bold text-center md:text-2xl text-zinc-900">
  Select a brand from your&nbsp;
  <span class="text-[#722F37]">Cellar</span>
</h1>

<!-- Edit Modal -->
<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close" id="editModalClose">&times;</span>
    <h2>Edit Brand</h2>
    <form id="editForm">
      <label for="editedBrandName">Brand Name:</label>
      <input type="text" id="editedBrandName" name="brandName" required>
      <button type="submit" class="edit-button">Save Changes</button>
    </form>
  </div>
</div>

<!-- Deactivate Modal -->
<div id="deactivateModal" class="modal">
  <div class="modal-content">
    <span class="close" id="cancelDeactivate">&times;</span>
    <h2>Deactivate Brand</h2>
    <form id="deactivateForm">
      <p>Are you sure you want to deactivate this brand?</p>
      <input type="hidden" id="deactivateBrandId" name="brandId">
      <button type="submit" class="deactivate-button">Yes</button>
      <button type="button" id="cancelDeactivate" class="cancel-button">No</button>
    </form>
  </div>
</div>


<div id="brandListContainer">
  <table class="table-auto p-1 border-2 text-center justify-center w-4/5 m-auto">
    <thead>
      <tr>
        <th><u>Brand Name</u></th>
        <th><u>Actions</u></th>
        <th><u>Deactivate</u></th>
      </tr>
    </thead>
    <tbody>
      {{#each brands as |brand|}}
        <tr>
          <td class="font-normal xl:text-base md:text-sm sm:text-xs text-xs">
            <a href="/wine/{{brand.brand_id}}">
              {{brand.brand_name}}
            </a>
          </td>
          <td>
            <button data-brand-id="{{brand.brand_id}}" class="edit fa-regular fa-pen-to-square"></button>
          </td>
          <td>
            <button data-brand-id="{{brand.brand_id}}" class="delete fa-regular fa-circle-xmark text-red-600"></button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Include the brandInteract.js script -->
<script src="/js/brandInteract.js"></script>
